.app {
  &__main {
    padding: 20px;
    border: 2px solid red;
  }

  &__control-panel {
    display: flex;
    gap: 20px;
  }
}

.status {
  &__button {
    margin-left: 10px;

    &__start:not(.disabled) {
      color: var(--status-color-text);
      background-color: var(--start-color-background);
    }

    &__success:not(.disabled) {
      background-color: var(--success-color-background);
    }

    &__failure:not(.disabled) {
      background-color: var(--failure-color-background);
    }
    &__timeout:not(.disabled) {
      background-color: var(--timeout-color-background);
    }
  }
}
