/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
ul {
  list-style-type: none;
}

:root {
  --success-color-background: #4caf50 !important;
  // a different green for the start one
  --start-color-background: #43a047 !important;
  --failure-color-background: #f44336 !important;
  --timeout-color-background: #ff9800 !important;
  --status-color-text: #ffffff !important;
}
